<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001231000295-vve8pvnnftpo5kau0p1knj6i922dl277.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001231000295-vve8pvnnftpo5kau0p1knj6i922dl277</string>
	<key>API_KEY</key>
	<string>AIzaSyCxb-iQaeyxC3zsJyGSkhCKJn8rMGmNgdc</string>
	<key>GCM_SENDER_ID</key>
	<string>1001231000295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eeshangarg.fitnessCopilot</string>
	<key>PROJECT_ID</key>
	<string>eeshangarg-fitness-copilot</string>
	<key>STORAGE_BUCKET</key>
	<string>eeshangarg-fitness-copilot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001231000295:ios:6a09e2b6bd993c86693842</string>
</dict>
</plist>